/Samples/Marble.Sample.WinForm/bin/
/Samples/Marble.Sample.WinForm/obj/
/Marble.WinForms/bin/
/Marble.WinForms/obj/
/.idea/
/.idea/
/.idea
/Samples/Marble.Sample.WinForm/bin
/Samples/Marble.Sample.WinForm/obj
/Marble.WinForms/obj
/Marble.WinForms/bin
/Marble.Core/obj
/Marble.Core/bin
